@model BarViewModel
@{
    ViewData["Title"] = "BarDetails";
    <style>

        body {
            background-image: url('../../images/37f072eb4f9453169d16478007277a1d.jpg');
            background-size: cover;
        }

        img {
            max-width: 100%;
            height: auto;
        }

        .BackgroundOpacity {
            border-radius: 16px;
            background-color: rgba(255,250,250,0.7);
            padding: 35px 35px;
            margin: 20px;
        }

        table {
            border-collapse: collapse;
            width: 100%;
        }

        tr {
            background-color: #f2f2f2
        }

        th {
            background-color: #ff0000;
            color: white;
        }

        .buttonReview {
            background: #ff0000;
            margin: 5px;
            width: 80%;
            color:white;
        }

        .margingaps {
            margin: 5px;
        }

        .barDesc {
            background-color: #ff0000;
            color: white;
        }

        h2 {
            margin-top: 50px;
            margin-left: 20px;
            font-size: 50px;
        }
    </style>
    <link href="~/css/BarDetailsGrid.css" rel="stylesheet" />
}
<h2 class="cola">Bar Details</h2>
<div class="grid-container">
    <div class="desctipion BackgroundOpacity">
        <div class="picture margingaps">
            @if (Model.CurrentPicture != null)
            {
                <img src="data:image/jpg;base64,@(Html.Raw(Convert.ToBase64String(Model.CurrentPicture)))" width="500" height="390" />

            }
            else
            {
                <img src="~/images/no-image-icon-6.png" width="230" height="172" />
            }
        </div>
        <div class="cocktails margingaps">
            <table class="table table">
                <th>Cocktails</th>
                <tr id="cocktailsTable">
                    <td id="InputCocktails">
                        @foreach (var cocktails in Model.Cocktails)
                        {
                            <p class="hakunaMatata">
                                @cocktails
                            </p>
                        }
                    </td>

                </tr>
            </table>
            @if (Model.Cocktails.Count == 10)
            {
                <button id="load-more-cocktails" data-id="@Model.Id">Load More</button>
            }

        </div>
        <div class="googlemaps margingaps">

        </div>
        <div class="info margingaps">
            <table class="table table">
                @if (Model != null)
                {
                    <tr>
                        <td class="barDesc">Name:</td>
                        <td>
                            @Model.Name
                        </td>
                    </tr>
                    <tr>
                        <td class="barDesc">Adress:</td>
                        <td>
                            @Model.Address
                        </td>

                    </tr>
                    <tr>
                        <td class="barDesc">Phone Number:</td>
                        <td>
                            @Model.PhoneNumber
                        </td>
                    </tr>
                    <tr>
                        <td class="barDesc">Rated:</td>
                        <td>@Model.Rating</td>
                    </tr>
                }
            </table>
        </div>
        <div class="buttons">
            <button class="btn buttonReview" color:white" id="Load-Bars-Reviews" data-bar="@Model.Id">Load Reviews</button>
            @if (User.IsInRole("BarCrawler") || User.IsInRole("CocktailMagician"))
            {
                <button class="btn buttonReview" color:white" onclick="location.href='@Url.Action("LeaveBarReview", "Reviews", new { Id = Model.Id })'">Leave Review</button>
            }
        </div>
    </div>
    <div id="commentBox" class="comments">

    </div>
</div>

