@model BarViewModel
@{
    ViewData["Title"] = "BarDetails";
    <style>


        img {
            max-width: 100%;
            height: auto;
        }

        table {
            border-collapse: collapse;
            width: 100%;
        }

        tr:nth-child(even) {
            background-color: #f2f2f2
        }

        th {
            background-color: #4CAF50;
            color: white;
        }

        .buttonReview {
            margin: auto;
        }

        .barDesc {
            display: inline-block;
            padding: 4px;
        }
    </style>
    <link href="~/css/BarDetailsGrid.css" rel="stylesheet" />
}
<h1 class="cola">Bar Details</h1>
<div class="grid-container">
    <div class="picture">
        @try
        {
            <img src="data:image/jpg;base64,@(Html.Raw(Convert.ToBase64String(Model.CurrentPicture)))" width="500" height="390" />

        }
        catch (Exception)
        {
            <img src="~/no-image-icon-6.png" width="230" height="172" />
        }
    </div>
    <div class="googlemaps">

    </div>
    <div class="buttons">
        <div class="buttonholder">
            <button class="btn btn-info buttonReview" id="Load-Bars-Reviews" data-bar="@Model.Id">Load Reviews</button>
            <button class="btn btn-info buttonReview" onclick="location.href='@Url.Action("LeaveBarReview", "Reviews", new { Id = Model.Id })'">Leave Review</button>
        </div>
    </div>
    <div id="CommentBox" class="comments">

    </div>

    <div class="cocktails">
        <table class="table table-hover">
            <th>Cocktails</th>
            <tr>
                <td>
                    @foreach (var cocktails in Model.Cocktails)
                    {
                        <p>
                            @cocktails
                        </p>
                    }
                </td>

            </tr>
        </table>
    </div>
    <div class="description">
        <table class="table table-hover">
            @if (Model != null)
            {
                <th>Name:</th>
                <th>Address:</th>
                <th>Phone:</th>
                <th>Rated: </th>


            }
            <tr>
                <td>
                    @Model.Name
                </td>
                <td>
                    @Model.Address
                </td>
                <td>
                    @Model.PhoneNumber
                </td>
                <td>
                    @Model.Rating
                </td>

            </tr>
        </table>

    </div>

</div>




