@model BarViewModel
@{
    ViewData["Title"] = "BarDetails";
    <style>
        .topleft {
            position: relative;
            top: 150px;
            left: 50px;
        }

        img {
            max-width: 100%;
            height: auto;
        }

        table {
            border-collapse: collapse;
            width: 100%;
        }

        tr:nth-child(even) {
            background-color: #f2f2f2
        }

        th {
            background-color: #4CAF50;
            color: white;
        }

        .barDesc {
            display: inline-block;
            padding: 4px;
        }
    </style>

}





<h1>Bar Details:</h1>
<div class="row">
    <br />
    <div class="barDesc">
        @try
        {
            <img src="data:image/jpg;base64,@(Html.Raw(Convert.ToBase64String(Model.CurrentPicture)))" width="460" height="350" />

        }
        catch (Exception)
        {
            <img src="~/no-image-icon-6.png" width="230" height="172" />
        }

    </div>
    <div class=" barDesc">
        <table class="table table-hover">
            @if (Model != null)
            {
                <th>Name:</th>
                <th>Address:</th>
                <th>Phone:</th>
                <th>Rated: </th>
                <th>Cocktails</th>

            }
            <tr>
                <td>
                    @Model.Name
                </td>
                <td>
                    @Model.Address
                </td>
                <td>
                    @Model.PhoneNumber
                </td>
                <td>
                    @Model.Rating
                </td>
                <td>
                    @foreach (var cocktails in Model.Cocktails)
                    {
                        <p>
                            @cocktails
                        </p>
                    }
                </td>
            </tr>
        </table>
        <button class="btn btn-info" onclick="location.href='@Url.Action("LeaveBarReview", "Reviews", new { Id = Model.Id })'">Leave Review</button>

    </div>
</div>
<button class="btn btn-info" id="Load-Bars-Reviews" data-bar="@Model.Id">Load Reviews</button>


