@model BarViewModel
@{
    ViewData["Title"] = "BarDetails";
    <style>


        img {
            max-width: 100%;
            height: auto;
        }

        table {
            border-collapse: collapse;
            width: 100%;
        }

        tr:nth-child(even) {
            background-color: #f2f2f2
        }

        th {
            background-color: #ff0000;
            color: white;
        }

        .buttonReview {
            margin: auto;
        }

        .barDesc {
            background-color: #ff0000;
            color: white;
        }
    </style>
    <link href="~/css/BarDetailsGrid.css" rel="stylesheet" />
}
<h1 class="cola">Bar Details</h1>
<div class="grid-container">
    <div class="desctipion">
        <div class="picture">
            @if (Model.CurrentPicture != null)
            {
                <img src="data:image/jpg;base64,@(Html.Raw(Convert.ToBase64String(Model.CurrentPicture)))" width="500" height="390" />

            }
            else
            {
                <img src="~/images/no-image-icon-6.png" width="230" height="172" />
            }
        </div>
        <div class="cocktails">
            <table class="table table-hover">
                <th>Cocktails</th>
                <tr id="cocktailsTable">
                    <td id="InputCocktails">
                        @foreach (var cocktails in Model.Cocktails)
                        {
                            <p class="hakunaMatata">
                                @cocktails
                            </p>
                        }
                    </td>

                </tr>
            </table>
            <button id="load-more" data-id="@Model.Id">Load More</button>
        </div>
        <div class="googlemaps">

        </div>
        <div class="info">
            <table class="table table-hover">
                @if (Model != null)
                {
                    <tr>
                        <td class="barDesc">Name:</td>
                        <td>
                            @Model.Name
                        </td>
                    </tr>
                    <tr>
                        <td class="barDesc">Adress:</td>
                        <td>
                            @Model.Address
                        </td>

                    </tr>
                    <tr>
                        <td class="barDesc">Phone Number:</td>
                        <td>
                            @Model.PhoneNumber
                        </td>
                    </tr>
                    <tr>
                        <td class="barDesc">Rated:</td>
                        <td>@Model.Rating</td>
                    </tr>
                }
            </table>
        </div>
        <div class="buttons">
            <button class="btn btn-info buttonReview" id="Load-Bars-Reviews" data-bar="@Model.Id">Load Reviews</button>
            @if (this.User.IsInRole("CocktailMagician") || this.User.IsInRole("BarCralwer"))
            {
                <button class="btn btn-info buttonReview" onclick="location.href='@Url.Action("LeaveBarReview", "Reviews", new { Id = Model.Id })'">Leave Review</button>
            }
        </div>
    </div>
    <div id="commentBox" class="comments">

    </div>
</div>

