@model CocktailMagicianWeb.Models.Cocktails.SearchCocktailViewModel
@{
    ViewData["Title"] = "SearchCoctails";
    <style>
        body {
            background-image: url('../images/royal-cocktails-with-sharing-18100237.jpg');
            background-size: cover;
        }

        .row {
            border-radius: 16px;
            background-color: rgba(255,250,250,0.7);
            padding: 35px 35px;
        }

        .BackgroundOpacity {
            border-radius: 16px;
            background-color: rgba(255,250,250,0.7);
            padding: 10px 35px;
        }

        h2 {
            font-size: 50px;
        }

        h4 {
            padding: 40px 5px 1px 10px;
            font-size: 35px;
        }
    </style>
}

<h2 class="cola">Search Coctails</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="SearchCocktails" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="@Model.Name" class="control-label"></label>
                <input asp-for="@Model.Name" class="form-control" />
                <span asp-validation-for="@Model.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Ingredient" class="control-label"></label>
                <input asp-for="@Model.Ingredient" class="form-control" />
                <span asp-validation-for="@Model.Ingredient" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Rating</label>
                <input asp-for="@Model.AvgRating" class="form-control" />
                <span asp-validation-for="@Model.AvgRating" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="@Model.IncludeOnlyAlcoholicDrinks" /> @Html.DisplayNameFor(model => model.IncludeOnlyAlcoholicDrinks)
                </label>
            </div>
            <div class="search" data-info="Search!">
                <br />
                <button type="submit" class="btn" style="background-color:#ff0000; color:white" id="searchBtn"><i class="fa fa-search"></i></button>
            </div>
        </form>
    </div>
</div>
<br />

@if (Model != null)
{
    <div class="row">
        <table class="table table-hover">
            @if (!Model.SearchResults.Any())
            {
                <br />
                <br />
                <br />
                <p class="alert alert-info">There are no bars found!</p>
            }
            else
            {
                <h2 class="cola">Results.</h2>
                <tr>
                    <th>Image</th>
                    <th>Name</th>
                    <th>Ingredients</th>
                </tr>
                @foreach (var cocktail in Model.SearchResults)
                {
                    <tr>

                        @if (cocktail.Picture == null)
                        {
                            <td>
                                <img src="~/images/no-image-icon-6.png" width="230" height="172" />
                            </td>
                        }
                        else
                        {
                            <td>
                                <img src="data:image/jpg;base64,@(Html.Raw(Convert.ToBase64String(cocktail.Picture)))" width="230" height="172" />
                            </td>
                        }
                        <td>
                            @cocktail.Name
                        </td>
                        <td>
                            @foreach (var ingredient in cocktail.Ingredients)
                            {
                                <p>
                                    @ingredient
                                </p>
                            }
                        </td>
                        <td>
                            <button class="btn" style="background-color:#ff0000; color:white" onclick="location.href='@Url.Action("CocktailDetails", "Cocktails", new { Id = @cocktail.Id })'">Details</button>
                        </td>

                    </tr>
                }

            }
        </table>
    </div>
}
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}