@model ReviewViewModel
@{
    ViewData["Title"] = "LeaveCocktailReview";
    <style>
        body {
            background-image: url('../../images/grandhotel_2-1024x683.jpg');
            background-size: cover;
        }

        .row {
            margin: 35px;
        }

        .BackgroundOpacity {
            margin: 35px;
            border-radius: 16px;
            background-color: rgba(255,250,250,0.7);
            padding: 10px 35px;
        }

        h2 {
            font-size: 50px;
        }

        .buttoncollor {
            background: #ff0000;
            color: white;
        }

        h4 {
            padding: 40px 5px 1px 10px;
            font-size: 35px;
        }
    </style>
}


<div class="BackgroundOpacity">
<h2 class="cola">Leave Cocktail Review</h2>
    <div class="col-md-4">
        <form asp-action="EditBar" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="@Model.Rating" placeholder="Give a rating from 0 to 10!" class="form-control" />
                <span asp-validation-for="@Model.Rating" class="text-danger"></span>
            </div>
            <div class="form-group">
                <textarea rows="4" cols="50" asp-for="@Model.Comment" placeholder="Leave a comment!" class="form-control"></textarea>
                <span asp-validation-for="@Model.Comment" class="text-danger"></span>
            </div>
            <div>
                <input asp-for="@Model.Id" class="form-control" hidden />
            </div>
            <div class="form-group">
                <button type="submit" class="btn buttoncollor">Create!</button>
            </div>

        </form>
    </div>
</div>